<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <!--URLs do Sistema-->
      <!--Desenvolvimento-->
          <add key="URLBase" value="https://dashboard.api-cuponagem.com/auth/login/" />
          <add key="URLCadPromo" value="https://dashboard.api-cuponagem.com/promotions/" />
          <add key="URLCadEC" value="https://dashboard.api-cuponagem.com/company" />
          <add key="URLAltEC" value="https://dashboard.api-cuponagem.com/company/edit" />
          <add key="URLCadPromoNew" value="https://dashboard.api-cuponagem.com/promotions/new/" />
          <add key="URLPromoDetail" value="https://dashboard.api-cuponagem.com/promotions/show/" />
          <add key="URLConnecter" value="https://connecter.api-cuponagem.com/login/" />
          <add key="URLConnecterNew" value="https://connecter.api-cuponagem.com/campaigns/new/" />
          <add key="URLPortalAdministrativo" value="https://admin.api-cuponagem.com/auth/login/" />
          <add key="URLPortalAdministrativoRestrito" value="https://admin.api-cuponagem.com/dashboard/restrict/" />
          
    <!--Producao-->
          <add key="URLBaseProd" value="https://meucupom.ticket.com.br/promotions/" /> 
          <add key="URLCadPromoProd" value="https://meucupom.ticket.com.br/promotions/new/" />
    <!--Dados Para Login Cuponagem-->    
     <add key="CNPJ" value="10141663000223" />
     <add key="Token" value="10141663000223" />
    <!--Dados Para Login Connecter-->
    <add key="ConnecterUsuario" value="10141663000223" />
    <add key="COnnecterSenha" value="10141663000223" />
    <!--Dados Para Login Portal Administrativo-->
    <add key="AdminUsuario" value="cupons" />
    <add key="AdminSenha" value="SomosTodosCupons!" />
    <!--Screenshots" /-->
     <add key="Screenshots" value="C:\repos\AutomacaoCuponagem\screenshots\" />
     <add key="ReservandoCupons" value="C:\repos\AutomacaoCuponagem\MSG_Cupons.html" />   
    <!--Dados Para Testes Responsivos -->
      <!-- Para chave Resolution Utilizar "Web" Para Browser OU "Mobile" Para Celulares -->
        <add key="Resolucao" value="web" />
      <!-- Caso Utilize Mobile Mudar chave "Plataforma" entre "IOS" ou "Android" -->
        <add key="Plataforma" value="IOS" />
        <!-- Caso Plataforma = Android, Então Preencher "Modelo" Conforme: LGG5 ou Nexus10 -->
        <!-- Caso Plataforma = IOS, Então Preencher "Modelo" Conforme: Iphone6 ou Ipad -->
        <add key="Modelo" value="Iphone6" />  
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
  </specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>